<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org">
<!--        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">-->
<!--        layout:decorate="~{common/layouts/default}">-->
<head>
    <meta charset="UTF-8">
    <title>신규 상품 등록</title>
</head>
<body>
    <h1>⭐⭐⭐⭐신규 상품 등록⭐⭐⭐⭐</h1>
    <form action="/product/regist" method="post">
        <label>상품 이름 : </label><input type="text" name="productName"><br>
        <label>상품 가격 : </label><input type="text" name="productPrice"><br>
        <select  id="mainCategory" name="mainCategory">
            <option selected disabled="disabled">대분류</option>
        </select>
        <select id="subCategory" name="subCategory">
            <option selected disabled="disabled">소분류</option>
        </select>
        <input type="submit" value="전송"/>
    </form>

    <script th:inline="javascript">
        $(document).ready(function () {
            let mainCategoryArray = new Array();
            let subCategoryArray = new Array();

            /*<![CDATA[*/
            /* Main Categories */
            /*[# th:each="ct : ${categoryList}"]*/
            let mainCategoryObject = new Object();
            mainCategoryObject.mainCategory = /*[[${ct.mainCategory}]]*/ 'default';
            mainCategoryArray.push(mainCategoryObject);
            /*[/]*/

            /* Sub Categories */
            /*[# th:each="ct : ${categoryList}"]*/
            let subCategoryObject = new Object();
            subCategoryObject.subCategory = /*[[${ct.subCategory}]]*/ 'default';
            subCategoryObject.mainCategory = /*[[${ct.mainCategory}]]*/ 'default';
            subCategoryArray.push(subCategoryObject);
            /*[/]*/
            /*]]>*/

            let mainCategorySelectBox = $("select[name='mainCategory']");

            for (let i = 0; i < mainCategoryArray.length; i++) {
                mainCategorySelectBox.append("<option value='" + mainCategoryArray[i].mainCategory
                    + "'>" + mainCategoryArray[i].mainCategory + "</option>");
            }

            $(document).on("change", "select[name='mainCategory']", function () {
                let subCategorySelectBox = $("select[name='subCategory']");
                // 기존 리스트 삭제
                subCategorySelectBox.children().remove();

                $("option:selected", this).each(function () {
                    let selectValue = $(this).val();
                    for (let i = 0; i < subCategoryArray.length; i++) {
                        // 대분류가 같은 소분류만 카테고리에 넣어 준다.
                        if (selectValue == subCategoryArray[i].mainCategory) {
                            subCategorySelectBox.append("<option value='" + subCategoryArray[i].subCategory
                                + "'>" + subCategoryArray[i].subCategory + "</option>");
                        }
                    }
                });
            });
        });
    </script>
</body>
</html>